/* Navigation general */
/*ylä palkki palikka */
nav ul {
    background-color: #001D3D;
    text-align: center;
    color: #5BC0BE;
    padding: 16px;
    font-size: 17px;
    border: 2px solid #5BC0BE;
    border-radius: 50px;
    font-family: 'Calibri', 'Trebuchet MS';
  }


ul {
  background-color: #001D3D;
  padding: 16px;
  font-size: 17px;
  border: 2px solid #5BC0BE;
  border-radius: 20px;
  font-family: 'Calibri', 'Trebuchet MS';
}

ul a {
 color: #5BC0BE; 
 text-decoration: none; 
}

ul a:hover {
  background-color: #306ea8;
  color: #FFC300;
}

nav ul a:hover {
  background-color: #306ea8;
  color: #FFC300;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

/* Dropdown menu & buttons */
.button {
  border: none;
  background-color: #001D3D; 
  padding: 16px;
  font-size: 17px;
  display: inline-block;
}

.button a {
  border: none;
  text-decoration: none;
  background-color: #001D3D; 
  color: #5BC0BE;
}

.dropbtn {
  background-color: #001D3D;
  color: #5BC0BE;
  padding: 16px;
  font-size: 17px;
  border: none;
  font-family: 'Calibri', 'Trebuchet MS';
}

/*form buttons */
form[name="delete-form"] input[type="submit"] {
  border: none;
  background-color: #001D3D; 
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ff1e61;
  border-radius: 20px;
  text-decoration: bold;
  color: #5BC0BE;
}

form[name="delete-form"] input[type="submit"]:hover {
  background-color: #306ea8;
  color: #FFC300;
}

form[name="new-form"] input[type="submit"] {
  border: none;
  background-color: #ffffff; 
  font-size: 12px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 20px;
  text-decoration: bold;
  color: #0a1938;
}

form[name="new-form"] input[type="submit"]:hover {
  background-color: #0a1938;
  color: #ff8800;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #003566;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #003566;
}


/* General */  

.welcome {
    text-align: center;
  }
  
  .container {
    margin: auto;
  }

  h1 {
    text-shadow: 1px 1px 0px #906fdc;
    color: #001D3D;
    font-family:'Lucida sans unicode';
  }

  p {
    color: #344966;
    font-family: monospace, helvetica;
  }

  p1 {
    color: #4474b8;
    font-family: monospace, helvetica;
    display: inline;
  }

  span {
    color: #001D3D;
    font-family: monospace, helvetica;
  }
  
  .message_ok {
    background-color: #69ce60;
  }
  
  .message_error {
    background-color: #f37d91;
  }
  

  /* Form styles */
  
  label {
    display: block;
  }
  
  label abbr {
    color: #A4161a;
  }
  
  input:invalid {
    border: 2px dashed #f37d91;
  }
  
  input:valid {
    border: 1px solid #69ce60;
  }
  
  /* TABLE */
  table {
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #000814;
    border-bottom: 2px solid #344966;
    box-shadow: 0px 0px 20px rgb(253, 251, 251), 0px 10px 20px rgba(0, 0, 0, 0.05),
      0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  }
  
  th,td {
    color: #999;
    border: 1px solid #000814;
    padding: 12px 35px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .total {
    text-align: right;
  }
  
  tr:hover {
    background: #f4f4f4;
  }
  td:hover {
    color: #555;
  }
  
  thead th {
    background: #3d003a;
    color: #5BC0BE;
    text-transform: uppercase;
  }
  
  .highlight {
    background: yellow;
  }